/* author: Amritha Gopal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    gap: 20px;
}
.width {
    width: 300px;
    text-align: right;
}
.star::after {
    content: "*";
    color: #af120c;
}
.center {
    width: 70%;
    margin: auto;
}
body {
    background-image: url("../images/185289.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}
.form {
    background-color: rgba(173, 216, 230, 0.76);
}
.reg-page {
    border: 2px;
    width: 50%;

    text-align: center;
    /* margin-top: 20%; */
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 576px) {
    body {
        background-image: none;
        background-color: rgb(144, 194, 228);
        margin: 0;
    }
    .center {
        background-color: rgb(14, 146, 235);
        margin: 0;
    }
    .reg-page {
        background-image: none;
    }
}
